
html { 
   /* position: relative; */
    height: 100%;
    width: 100%;
}

body {
   /* position: relative; */
    width: 100%;
    height: 100%;
    /*background: #fff url("../images/page-bg.png") 0 0 repeat;*/
}

#mainWrapper {
    position: relative;
    height: auto !important;
    height: 100%;
    min-height: 100%;
    /*background: url("../images/header.png") 0 0 repeat-x;*/
}

#wrapper {
    position: relative;
    width: 960px;
    /*min-width: 960px;
    max-width: 1260px;*/
    height: auto !important;
    height: 100%;
    min-height: 100%;
    margin: 0 auto;
}


/* Header
-----------------------------------------------------------------------------*/
#header {
    position: relative;
    /*background: url("../images/image.png") 50% 100% no-repeat;*/
}

#header h3 {
    font-size: 3em;
    line-height: 60px;
    text-align: center;
}


/* Middle
-----------------------------------------------------------------------------*/
#middle {
    position: relative;
    height: 1%;
    margin: 0 auto;
    padding: 1.5em 0;
}

#container {
    float: left;
    width: 100%;
    overflow: hidden;
}

#content {
    padding: 0;
}

/*.page*/ .sidebar-first #content {
    padding-left: 245px;
}

/*.page*/ .sidebar-second #content {
    padding-right: 245px;
}


/* Sidebars
-----------------------------------------------------------------------------*/
.sidebar .block {
    margin-bottom: 2.5em;
}

.sidebar .block h3 {
    margin-bottom: 0.25em;
}

.sidebar .block .content {
    
}


/* Sidebar Left
-----------------------------------------------------------------------------*/
#sidebar-first {
    position: relative;
    float: left;
    width: 215px;
    margin-left: -100%;
}


/* Sidebar Right
-----------------------------------------------------------------------------*/
#sidebar-second {
    position: relative;
    float: left;
    width: 215px;
    margin-right: -3px;
    margin-left: -215px;
}


/* Footer
-----------------------------------------------------------------------------*/
#footer {
    position: relative;
    width: 960px;
    /*min-width: 960px;
    max-width: 1260px;*/
    /*height: 80px;
    margin: -100px auto 0;*/
    margin: 0 auto;
    padding: 2em 0 3em;
    overflow: hidden;
    z-index: 94;
}

